In [1]:
%load_ext sql

/Users/victorvulovic/anaconda/lib/python3.5/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/victorvulovic/anaconda/lib/python3.5/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
%pylab inline  
import pandas as pd
import yaml

Populating the interactive namespace from numpy and matplotlib

In [3]:
pg_creds = yaml.load(open('../../pg_creds.yaml'))['student']
connection_string = 'postgresql://{user}:{password}@{host}:{port}/{dbname}'.format(**pg_creds)

In [4]:
%sql $connection_string

'Connected: student@postgres'

In [5]:
cars_table = %sql SELECT * FROM cars;
cars = cars_table.DataFrame()

398 rows affected.